<div class="container">
    <p>El correo fue enviado con éxito</p>

    <ul>
        <li>{{nombreForm}}</li>
        <li>{{apellidoForm}}</li>
        <li>{{emailForm}}</li>
        <li>{{localidadForm}}</li>
        <li>{{comentarioForm}}</li>
    </ul>
</div>